* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --primary-color: #EEEEEE;
    --dark-color-opacity: rgba(0, 0, 0, 0.4);
    --secondary-color: #9818D6;
    --primary-color-opacity: rgba(165, 85, 236, .3);
    --accent-color: #ff4321;
}
.dark-theme {
    --primary-color: #000000;
    --dark-color-opacity: rgba(0, 0, 0, 0.4);
    --secondary-color: #9818D6;
    --primary-color-opacity: rgba(165, 85, 236, .3);
    --accent-color: #ff4321;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background-color: var(--primary-color);
    width: .8rem
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#9818D6,#9818D6);
    border-radius: 5rem;
}
span {
    color: var(--accent-color);
    font-weight: bold;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
}
@media (max-width: 900px) {
    h2 {
        font-size: 2.5rem;
    }
}
@media (max-width: 600px) {
    h2 {
        font-size: 2.2rem;
    }
}
@media (max-width: 450px) {
    h2 {
        font-size: 1.8rem;
    }
}

/* ---------- Animation Section ---------- */
.animation-right {
    opacity: 0;
    transform: translateX(10px);
    transition: all .5s ease-in-out;
}
.animation-left {
    opacity: 0;
    transform: translateX(-10px);
    transition: all .5s ease-in-out;
}
.animation-bottom {
    opacity: 0;
    scale: .5;
    transition: all .5s ease-in-out;
}
.animation-rotate {
    opacity: 0;
    transform: rotateY(100deg);
    transition: all 2s ease-in-out;
}
.show-animation {
    opacity: 1;
    transform: translateX(0);
    transform: rotateY(0);
    scale: 1;
}

@media (max-width: 600px) {
    .animation-right, .animation-left {
        transition: none;
        transform: translateX(0);
    }
}

/* ----------------------Menu Bar ----------------- */
.menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--dark-color-opacity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1rem);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.menubar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(165, 85, 236, .3));
    transition: .6s;
}
.menubar:hover::before {
    left: 100%;
}
.menubar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, transparent, rgba(165, 85, 236, .3));
    transition: .6s;
}
.menubar:hover::after {
    right: 100%;
}
.logo {
    color: var(--accent-color);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.navbar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px;
    transition: .4s;
}
.navbar a:hover {
    color: var(--accent-color);
}
.navbar #icon-moon {
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}
.navbar #icon-moon:hover {
    color: var(--accent-color);
    transition: .4s;
}
#menu-icon {
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
@media (max-width: 900px) {
    .menubar {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 650px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(0, 0, 0, .7);
        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
        text-align: center;
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }
}

/* -------------- Full Screen Slider ----------- */
.slider-full-screen-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    animation: slide 30s infinite;
}
.slider-full-screen-main .full-content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-opacity);
}
.full-content .full-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.full-content .full-text h1 {
    color: var(--accent-color);
    font-size: 5rem;
    margin: .5rem;
}
.full-content .full-text p {
    font-size: 3rem;
}
@media (max-width: 900px) {
    .full-content .full-text h1 {
        padding: 0 5px;    
        font-size: 3rem;
    }
    .full-content .full-text p {
        padding: 0 5px;
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .full-content .full-text h1 {
        padding: 0 5px;    
        font-size: 2.4rem;
    }    
    .full-content .full-text p {
        padding: 0 5px;
        font-size: 1.6rem;
    }
}

@keyframes slide {
    0%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}
    17%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}

    20%{ background-image: url(../img/imgFullScreen/Full-Screen-2.jpg);}
    37%{ background-image: url(../img/imgFullScreen/Full-Screen-2.jpg);}

    40%{ background-image: url(../img/imgFullScreen/Full-Screen-3.jpg);}
    57%{ background-image: url(../img/imgFullScreen/Full-Screen-3.jpg);}

    60%{ background-image: url(../img/imgFullScreen/Full-Screen-4.jpg);}
    77%{ background-image: url(../img/imgFullScreen/Full-Screen-4.jpg);}

    80%{ background-image: url(../img/imgFullScreen/Full-Screen-5.jpg);}
    97%{ background-image: url(../img/imgFullScreen/Full-Screen-5.jpg);}

    100%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}
}

/*-------------------- Absolute Contacts ---------------------- */
.absolute-contacts {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 50%;
    z-index: 999;

}
.absolute-telegram-contact, .absolute-phone-contact {
    text-decoration: none;
    color: #fff;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: .3rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(1rem);
    background: var(--dark-color-opacity);
    z-index: 999;
}

/* -------------- About Book Flip ----------- */
.book-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
  
}
  
.book-header h2 {
      padding: 1rem;
      padding-top: 3rem;
}
  
.book-header h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}
  
.book-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.book-container {
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    margin: 1.5rem;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}
  
  .book-text {
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem;
    margin-left: 12%;
}
  
.book-cover {
    top: 0;
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
.book-container:hover .book-cover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}
  
.book-cover .book-cover-text {
    justify-content: center;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #FFF;
}  

/*-------------------- Belt-Slider ---------------------- */
.belt-slider-main {
    display: grid;
    place-items: center;
    min-height: 50vh;
    background-color: var(--primary-color);
    padding: 2rem 0;
}

.belt-slider-main .belt-slider-main-header {
    padding: 3rem;
}

.belt-slider-main .belt-slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.belt-slider .belt-slider-wrapper {
    display: flex;
    width: calc(300px * 18);
    animation: scroll 40s linear infinite;
}

.belt-slider .belt-slider-wrapper:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-300px * 9));}
}

.belt-slider-wrapper .belt-slides {
    display: flex;
    align-items: center;
    height: 200px;
    width: 300px;
    margin: 0 15px;
    perspective: 100px;
}

.belt-slides img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    transition: 1s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
}
.belt-slider-main .belt-slider::before,
.belt-slider-main .belt-slider::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10%;
    background: linear-gradient(to right, rgba(165, 85, 236, 0.8) 0%, rgba(255, 255, 255, 0)100%);
    z-index: 2;
}

.belt-slider-main .belt-slider::before {
    left: 0;
    top: 0;
}
.belt-slider-main .belt-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
@media (max-width: 600px) {
    .belt-slider-main .belt-slider {
        height: 150px;
    }
    .belt-slider .belt-slider-wrapper {
        width: calc(250px * 18);
    }
    @keyframes scroll {
        0% {transform: translateX(0);}
        100% {transform: translateX(calc(-250px * 9));}
    }
    .belt-slider-wrapper .belt-slides {
        height: 150px;
        width: 250px;
        margin: 0 5px;
    }
    .belt-slides img {
        height: 150px;
        width: 250px;
    }
    
}
@media (max-width: 400px) {
    .belt-slider-main .belt-slider {
        height: 120px;
    }
    .belt-slider .belt-slider-wrapper {
        width: calc(200px * 18);
    }
    @keyframes scroll {
        0% {transform: translateX(0);}
        100% {transform: translateX(calc(-200px * 9));}
    }
    .belt-slider-wrapper .belt-slides {
        height: 120px;
        width: 200px;
        margin: 0 4px;
    }
    .belt-slides img {
        height: 120px;
        width: 200px;
    }
    
}

/* --------------------------Courses opening-up-card ------------------ */
.opening-up-header {
    position: relative;
    min-height: 40rem;
    background: var(--primary-color);
}
.opening-up-header .opening-up-main-header {
    padding-top: 6rem;
}
.opening-up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.opening-up-wrapper .opening-up-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 120px 50px;
    padding: 100px 50px;
}
.opening-up-container .opening-up-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 1rem 5rem;
    box-shadow: 0 35px 80px rgba(0, 0, 0, .15);
    transition: .5s;
}
.opening-up-container .opening-up-card:hover {
    height: 400px;
    border-radius: 5rem 1rem;
}
.opening-up-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    border-radius: 1rem 5rem;
    overflow: hidden;
    border: 1px solid var(--primary-color-opacity);
    transition: .5s;
}
.opening-up-card:hover .img-box {
    top: -100px;
    scale: 0.75;
    border-radius: 5rem 1rem;
    box-shadow: var(--primary-color-opacity);
}
.opening-up-card .img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.opening-up-card .content-box {
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 250px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    transition: .5s;
}
.opening-up-card:hover .content-box {
    top: 110px;
    height: 250px;
}
.opening-up-card .content-box h3 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 0;
}
.opening-up-card .content-box p {
    color: #000000;
}
@media (max-width: 500px) {
    .opening-up-card .content-box h3 {
        font-size: 1.3rem;
    }
    .opening-up-container .opening-up-card {
        width: 300px;
        height: 300px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    }
    .opening-up-card .img-box {
        width: 280px;
    }
    .opening-up-wrapper .opening-up-container {
        gap: 120px 0;
        padding: 100px 0;
    }
}

/* --------------------------Accordion FAQ ------------------ */
.accordionFaq {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45rem;
    background: var(--primary-color);
    padding: 3rem 0;
}
.accordionFaq .accordion {
    max-width: 90%;
}
.accordion .headerFaq {
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: 2rem 0;
    border-radius: 8px;
    background: var(--secondary-color);
    color: #fff;
}
.accordion .headerFaq h2{
    color: #FFF;
}
.accordion .headerFaq h4 {
    color: #FFF;
    font-size: 2rem;
    padding: 1rem;
}
.accordion .headerFaq .headerFaqP {
    font-size: 2rem;
}
.accordion .contentBx {
    position: relative;
    margin: 10px 0;
}
.accordion .contentBx .label {
    position: relative;
    padding: 1rem;
    background: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.5;
    border-radius: 8px;
    cursor: pointer;
}
@media (max-width: 900px) {
    .accordion .headerFaq h4 {
        font-size: 1.8rem;
    }
    .accordion .headerFaq .headerFaqP {
        font-size: 1.5rem;
    }
    .accordion .contentBx .label {
        font-size: 1.2rem;
    }
}
@media (max-width: 600px) {
    .accordion .headerFaq h4 {
        font-size: 1.5rem;
    }
    .accordion .headerFaq .headerFaqP {
        font-size: 1.2rem;
    }
    .accordion .contentBx .label {
        font-size: 1.1rem;
    }
}
.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 600;
}
.accordion .contentBx .content {
    position: relative;
    background: #FFF;
    height: 0;
    border-radius:0 0 8px 8px;
    overflow: hidden;
    transition: .4s;
    overflow-y: auto;
}
.accordion .contentBx.active .content {
    color: #000000;
    height: auto;
    padding: 10px;
}
.accordion .contentBx.active .label::before {
    content: '-';
    font-size: 1.9em; 
    font-weight: 500;
    top: 50%;
    right: 20px;
    transform: translateY(-70%);
}
.accordion .contentBx.active {
    background: var(--secondary-color);
    border-radius: 8px;
    border: 5px solid #9818D6;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* --------------- Contact Section --------------- */

.nomail-header {
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 40rem;
    background-image: url(../img/imgNoMail/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nomail-header .nomail-wrapper {
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 40rem;
    background-color: rgba(0, 0, 0, 0.4);
}
.nomail-header .nomail-wrapper .contacts-main-header {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0 1rem;
    top: 3rem;
    bottom: 3rem;
    color: #FFF;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}
.nomail-wrapper .nomail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nomail-container .nomail-card{
    position: relative;
    padding-top: 5rem;
}
.nomail-container .nomail-card a {
    position: relative;
    display: block;
    text-decoration: none;
    width: 20rem;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 1rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}
.nomail-container .nomail-card i {
    font-size: 2rem;
    margin-right: 1rem;
}
.nomail-wrapper .nomail-tel-numb, .nomail-contact-par {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 1rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}
@media (max-width: 600px) {
    .nomail-container .nomail-card a {
        font-size: 1.3rem;
        width: 18rem;
    }
    .nomail-container .nomail-card i {
        font-size: 1.3rem;
    }
    .nomail-wrapper .nomail-tel-numb, .nomail-contact-par {
        font-size: 1.3rem;
    }
}

/* ---------------- Footer Section ------------------- */

.footer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .footer-container {
        display: block;
        align-items: center;
        padding: 5px;
    }
}
.footer-content-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.logo-foot {
    height: 16rem;
}

.footer-content-3 a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
}
.footer-content-3 i {
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 15px;
}

.footer-foot {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    .footer-content-3 p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-foot {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }    
}



