* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --primary-color: #EEEEEE;
    --dark-color-opacity: rgba(0, 0, 0, 0.4);
    --secondary-color: #9818D6;
    --primary-color-opacity: rgba(165, 85, 236, .3);
    --accent-color: #ff4321;
}
.dark-theme {
    --primary-color: #000000;
    --dark-color-opacity: rgba(0, 0, 0, 0.4);
    --secondary-color: #9818D6;
    --primary-color-opacity: rgba(165, 85, 236, .3);
    --accent-color: #ff4321;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background-color: var(--primary-color);
    width: .8rem
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#9818D6,#9818D6);
    border-radius: 5rem;
}
span {
    color: var(--accent-color);
    font-weight: bold;
}

/* ---------- Animation Section ---------- */
.animation-right {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(200px);
    transition: all .5s ease-in-out;
}
.animation-left {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-200px);
    transition: all .5s ease-in-out;
}
.animation-bottom {
    opacity: 0;
    filter: blur(3px); 
    scale: .5;
    transition: all .5s ease-in-out;
}
.animation-rotate {
    opacity: 0;
    transform: rotateY(100deg);
    transition: all 2s ease-in-out;
}
.show-animation {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transform: rotateY(0);
    scale: 1;
}

/* ----------------------Menu Bar ----------------- */
.menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--dark-color-opacity);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1rem);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.menubar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(165, 85, 236, .3));
    transition: .6s;
}
.menubar:hover::before {
    left: 100%;
}
.menubar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, transparent, rgba(165, 85, 236, .3));
    transition: .6s;
}
.menubar:hover::after {
    right: 100%;
}
.logo {
    color: var(--accent-color);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.navbar a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px;
    transition: .4s;
}
.navbar a:hover {
    color: var(--accent-color);
}
.navbar #icon-moon {
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}
.navbar #icon-moon:hover {
    color: var(--accent-color);
    transition: .4s;
}
#menu-icon {
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}
@media (max-width: 900px) {
    .menubar {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 650px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(0, 0, 0, .7);
        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
        text-align: center;
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }
}

/* -------------- Full Screen Slider ----------- */
.slider-full-screen-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    animation: slide 30s infinite;
}
.slider-full-screen-main .full-content {
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-opacity);
}
.full-content .full-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.full-content .full-text h1 {
    color: var(--accent-color);
    font-size: 5rem;
    margin: .5rem;
}
.full-content .full-text p {
    font-size: 3rem;
}
@media (max-width: 900px) {
    .full-content .full-text h1 {
        padding: 0 5px;    
        font-size: 2.6rem;
    }
    .full-content .full-text p {
        padding: 0 5px;
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .full-content .full-text h1 {
        padding: 0 5px;    
        font-size: 2.4rem;
    }    
    .full-content .full-text p {
        padding: 0 5px;
        font-size: 1.8rem;
    }
}

@keyframes slide {
    0%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}
    17%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}

    20%{ background-image: url(../img/imgFullScreen/Full-Screen-2.jpg);}
    37%{ background-image: url(../img/imgFullScreen/Full-Screen-2.jpg);}

    40%{ background-image: url(../img/imgFullScreen/Full-Screen-3.jpg);}
    57%{ background-image: url(../img/imgFullScreen/Full-Screen-3.jpg);}

    60%{ background-image: url(../img/imgFullScreen/Full-Screen-4.jpg);}
    77%{ background-image: url(../img/imgFullScreen/Full-Screen-4.jpg);}

    80%{ background-image: url(../img/imgFullScreen/Full-Screen-5.jpg);}
    97%{ background-image: url(../img/imgFullScreen/Full-Screen-5.jpg);}

    100%{ background-image: url(../img/imgFullScreen/Full-Screen-1.jpg);}
}

/*-------------------- Belt-Slider ---------------------- */

.belt-slider-main {
    display: grid;
    place-items: center;
    height: 50vh;
    padding: 1rem;
    background-color: var(--primary-color);
}

.belt-slider-main .belt-slider-main-header {
    color: var(--secondary-color);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.belt-slider-main .belt-slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.belt-slider .belt-slider-wrapper {
    display: flex;
    width: calc(300px * 18);
    animation: scroll 40s linear infinite;
}

.belt-slider .belt-slider-wrapper:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translateX(calc(-300px * 9));}
}

.belt-slider-wrapper .belt-slides {
    display: flex;
    align-items: center;
    height: 200px;
    width: 300px;
    margin: 0 15px;
    perspective: 100px;
}

.belt-slides img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    transition: 1s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
}

.belt-slides img:hover {
    transform: translateZ(16px);
    z-index: 3;
}

.belt-slider-main .belt-slider::before,
.belt-slider-main .belt-slider::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10%;
    background: linear-gradient(to right, rgba(165, 85, 236, 0.8) 0%, rgba(255, 255, 255, 0)100%);
    z-index: 2;
}

.belt-slider-main .belt-slider::before {
    left: 0;
    top: 0;
}
.belt-slider-main .belt-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* --------------------------Accordion FAQ ------------------ */

.accordionFaq {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45rem;
    background: var(--primary-color);
    padding: 3rem 0;
}
.accordionFaq .accordion {
    max-width: 90%;
}
.accordion .headerFaq {
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--secondary-color);
    color: #fff;
}
.accordion .headerFaq h2{
    font-size: 3rem;
}
.accordion .headerFaq h4 {
    font-size: 2rem;
    padding: 1rem;
}
.accordion .headerFaq p {
    font-size: 2rem;
}
.accordion .contentBx {
    position: relative;
    margin: 10px 0;
}
.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 600;
}
.accordion .contentBx .content {
    position: relative;
    background: #FFF;
    height: 0;
    border-radius:0 0 8px 8px;
    overflow: hidden;
    transition: .4s;
    overflow-y: auto;
}
.accordion .contentBx.active .content {
    color: #000000;
    height: auto;
    padding: 10px;
}
.accordion .contentBx.active .label::before {
    content: '-';
    font-size: 1.9em; 
    font-weight: 500;
    top: 50%;
    right: 20px;
    transform: translateY(-70%);
}
.accordion .contentBx.active {
    background: var(--secondary-color);
    border-radius: 8px;
    border: 5px solid #9818D6;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* --------------- Contact Section --------------- */

.nomail-header {
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 40rem;
    background-image: url(../img/imgNoMail/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nomail-header .nomail-wrapper {
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 40rem;
    background-color: rgba(0, 0, 0, 0.4);
}
.nomail-header .nomail-wrapper .contacts-main-header {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 0 1rem;
    top: 3rem;
    bottom: 3rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}
.nomail-wrapper .nomail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nomail-container .nomail-card{
    position: relative;
    padding-top: 5rem;
}
.nomail-container .nomail-card a {
    position: relative;
    display: block;
    text-decoration: none;
    width: 20rem;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 1rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}
.nomail-container .nomail-card i {
    font-size: 2rem;
    margin-right: 1rem;
}
.nomail-wrapper .nomail-tel-numb, .nomail-contact-par {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    margin: 1rem;
    border: .3px solid #fff;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    background: var(--primary-color-opacity);
}

/* ---------------- Footer Section ------------------- */

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .footer-container {
        display: block;
        align-items: center;
        padding: 5px;
    }
}
.footer-content-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    padding: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}

.footer-content-1 h3 {
    font-family: 'Courgette';
}

.logo-foot {
    height: 16rem;
}

.footer-content-3 a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
}
.footer-content-3 i {
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 15px;
}

.footer-foot {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    .footer-content-3 p {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-foot {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }
    
}



