
.flip-book-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 45rem;
    padding: 2rem;
    background-color: #DDFFBB;
}

.flip-book-header .flip-book-main-header {
    font-size: 3rem;
    margin: 3rem;
}

.flip-book-header .flip-book-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-book-wrapper .flip-book-card {
    position: relative;
    width: 450px;
    height: 500px;
    transition-duration: 1s;
    /* perspective: 1500; */
}

.flip-book-card .flip-book-front-cover, .flip-book-back-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 0 16px 16px 0;
    box-shadow: 0 0 3px 3px black;
}

.flip-book-card .flip-book-front-cover {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transform-origin: center left;
    transition: transform 1s;
}

.flip-book-card .flip-book-front-cover h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem;
    transition: 1s;
}

.flip-book-card .flip-book-front-cover h3 span {
    font-size: 1.2rem;
    color: white;
    transition: 1s;
}

.flip-book-card .flip-book-front-cover label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.flip-book-card .flip-book-back-cover {
    position: relative;
    z-index: -1;
}

.flip-book-card .flip-book-page {
    position: absolute;
    width: 445px;
    height: 490px;
    margin: 5px 0;
    border-radius: 0 16px 16px 0;
    background-color: white;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
    box-shadow: 0 0 5px black;
}

.flip-book-page .back-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    box-shadow: 0 0 5px black;
}

.flip-book-page .front-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;
}

.flip-book-page .back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* z-index: 99; */
}

.flip-book-page .next-label, .prev-label {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    cursor: pointer;
    /* border: 1px solid black; */
}

.flip-book-page .next-label {
    right: 0;
}

.flip-book-page .prev-label {
    left: 0;
}

.flip-book-wrapper 
#checkbox-cover,
#checkbox-page1,
#checkbox-page2,
#checkbox-page3,
#checkbox-page4,
#checkbox-page5,
#checkbox-page6,
#checkbox-page7,
#checkbox-page8,
#checkbox-page9 {
    display: none;
}

#page1 {
    z-index: 9;
}
#page2 {
    z-index: 8;
}
#page3 {
    z-index: 7;
}
#page4 {
    z-index: 6;
}
#page5 {
    z-index: 5;
}
#page6 {
    z-index: 4;
}
#page7 {
    z-index: 3;
}
#page8 {
    z-index: 2;
}
#page9 {
    z-index: 1;
}

.flip-book-wrapper #checkbox-cover:checked ~ .flip-book-card {
    transform: translateX(225px);
}

.flip-book-wrapper #checkbox-cover:checked ~ .flip-book-card .flip-book-front-cover {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}
.flip-book-wrapper #checkbox-cover:checked ~ .flip-book-card .flip-book-front-cover h3 {
    display: none;
}

.flip-book-wrapper #checkbox-page1:checked ~ .flip-book-card #page1 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 2;
}
.flip-book-wrapper #checkbox-page2:checked ~ .flip-book-card #page2 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 3;
}
.flip-book-wrapper #checkbox-page3:checked ~ .flip-book-card #page3 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 4;
}
.flip-book-wrapper #checkbox-page4:checked ~ .flip-book-card #page4 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 5;
}
.flip-book-wrapper #checkbox-page5:checked ~ .flip-book-card #page5 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 6;
}
.flip-book-wrapper #checkbox-page6:checked ~ .flip-book-card #page6 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 7;
}
.flip-book-wrapper #checkbox-page7:checked ~ .flip-book-card #page7 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 8;
}
.flip-book-wrapper #checkbox-page8:checked ~ .flip-book-card #page8 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 9;
}
.flip-book-wrapper #checkbox-page9:checked ~ .flip-book-card #page9 {
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 10;
}
