
.horizontal-card-big-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45rem;
    background: var(--primary-color);
}

.horizontal-card-big-header .horizontal-card-big-main-header {
    padding: 5rem;
}

.horizontal-card-big {
    display: flex;
    justify-content: center;
    width: 90%;
    border-radius: 2rem;
    --swiper-navigation-color: #fff;
    box-shadow: 0 35px 80px rgba(0, 0, 0, .15);
}

.horizontal-card-big-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 28rem;
    border-radius: 2rem;
}

.horizontal-card-big-container svg {
    position: absolute;
    bottom: 0;
    height: cover;
    opacity: .5;
    z-index: -1;
}

.horizontal-card-big-container .card-big-one .card-big-one-img {
    transform: scale(1);
    height: 22rem;
    width: 16rem;
    margin: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    border-radius: 1rem;
    cursor: pointer;
    /* border: 1px solid black; */
}

.horizontal-card-big-container .card-big-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    /* border: 1px solid black; */
}

.horizontal-card-big-container .card-big-two h4 {
    font-size: 3rem;
}

.horizontal-card-big-container .card-big-two h3 {
    color: var(--accent-color);
    font-size: 4rem;
    margin-top: 2rem;
}

.horizontal-card-big-container .card-big-three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    /* border: 1px solid black; */
}

.horizontal-card-big-container .card-big-three ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horizontal-card-big-container .card-big-three li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.horizontal-card-big-container .card-big-three li:nth-child(5) {
    font-weight: 900;
    font-size: 2.2rem;
}

.horizontal-card-big-container .card-big-three span {
    /* font-size: 2.2rem; */
    font-weight: bold;
} 

/* -----Pop Up ----- */

.horizontal-card-big-overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index: 1;
    display:none;
}
.card-big-one-box {
    z-index: 999;
}
.card-big-one-window {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width: 22rem;
    height: 28rem;
    z-index: 2;
    text-align:center;
    box-sizing:border-box;
    display: none;
}
.card-big-one.active .card-big-one-window {
    display: block;
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}
.card-big-one.active .horizontal-card-big-overlay {
    display:block;
}

@media (max-width: 991px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .horizontal-card-big-container {
        height: 20rem;
        border-radius: 2rem;
    }

    .horizontal-card-big-container .card-big-one .card-big-one-img {
        height: 18rem;
        width: 13rem;
        margin: .5rem;
        border-radius: 1rem;
    }
    
    .horizontal-card-big-container .card-big-two {
        height: 20rem;
        width: 15rem;
        margin: .5rem;
    }
    
    .horizontal-card-big-container .card-big-two h4 {
        font-size: 2rem;
    }
    
    .horizontal-card-big-container .card-big-two h3 {
        font-size: 3rem;
        margin-top: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three {
        height: 20rem;
        width: 12rem;
        margin: .5rem;
    }
    
    .horizontal-card-big-container .card-big-three ul {
        gap: .8rem;
    }
    
    .horizontal-card-big-container .card-big-three li {
        font-size: 1.8rem;
    }
    
    .horizontal-card-big-container .card-big-three li:nth-child(5) {
        font-weight: 900;
        font-size: 2rem;
    }
    
    .horizontal-card-big-container .card-big-three span {
        font-size: 2.2rem;
        font-weight: bold;
    } 

    .card-big-one-window {
        width: 16rem;
        height: 20rem;
    }
}

@media (max-width: 700px) {
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    
    .swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 10px;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .horizontal-card-big-container {
        height: 18rem;
        border-radius: 2rem;
    }

    .horizontal-card-big-container .card-big-one .card-big-one-img {
        height: 15rem;
        width: 11rem;
        margin: .5rem;
        border-radius: 1rem;
    }
    
    .horizontal-card-big-container .card-big-two {
        height: 17rem;
        width: 12rem;
        margin: .5rem;
    }
    
    .horizontal-card-big-container .card-big-two h4 {
        font-size: 1.6rem;
    }
    
    .horizontal-card-big-container .card-big-two h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three {
        height: 17rem;
        width: 10rem;
        margin: .5rem;
    }
    
    .horizontal-card-big-container .card-big-three ul {
        gap: .6rem;
    }
    
    .horizontal-card-big-container .card-big-three li {
        font-size: 1.4rem;
    }
    
    .horizontal-card-big-container .card-big-three li:nth-child(5) {
        font-weight: 900;
        font-size: 1.5rem;
    }
    
    .horizontal-card-big-container .card-big-three span {
        font-size: 1.5rem;
        font-weight: bold;
    } 

    .card-big-one-window {
        width: 14rem;
        height: 18rem;
    }
}

@media (max-width: 550px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .horizontal-card-big-container {
        height: 18rem;
        border-radius: 2rem;
    }

    .horizontal-card-big-container .card-big-one .card-big-one-img {
        height: 14rem;
        width: 10rem;
        margin: .2rem;
        border-radius: 1rem;
    }
    
    .horizontal-card-big-container .card-big-two {
        margin: .2rem;
    }
    
    .horizontal-card-big-container .card-big-two h4 {
        font-size: 1.2rem;
    }
    
    .horizontal-card-big-container .card-big-two h3 {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three {
        margin-right: .4rem;
    }
    
    .horizontal-card-big-container .card-big-three ul {
        gap: .5rem;
    }
    
    .horizontal-card-big-container .card-big-three li {
        font-size: 1.2rem;
    }
    
    .horizontal-card-big-container .card-big-three li:nth-child(5) {
        font-weight: 900;
        font-size: 1.3rem;
    }
    
    .horizontal-card-big-container .card-big-three span {
        font-size: 1.3rem;
        font-weight: bold;
    } 

    .card-big-one-window {
        width: 14rem;
        height: 18rem;
    }
}

@media (max-width: 450px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .horizontal-card-big-container {
        height: 14rem;
        border-radius: 1rem;
    }

    .horizontal-card-big-container .card-big-one .card-big-one-img {
        height: 12rem;
        width: 8rem;
        margin: .2rem;
        border-radius: .6rem;
    }
    
    .horizontal-card-big-container .card-big-two {
        margin: .2rem;
    }
    
    .horizontal-card-big-container .card-big-two h4 {
        font-size: 1rem;
    }
    
    .horizontal-card-big-container .card-big-two h3 {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three {
        margin-right: .4rem;
    }
    
    .horizontal-card-big-container .card-big-three ul {
        gap: .4rem;
    }
    
    .horizontal-card-big-container .card-big-three li {
        font-size: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three li:nth-child(5) {
        font-weight: 900;
        font-size: 1.1rem;
    }
    
    .horizontal-card-big-container .card-big-three span {
        font-size: 1.1rem;
        font-weight: bold;
    } 

    .card-big-one-window {
        width: 10rem;
        height: 14rem;
    }
}

@media (max-width: 400px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }

    .horizontal-card-big-container {
        display: flex;
        flex-direction: column;
        height: 22rem;
        border-radius: 1rem;
    }

    .horizontal-card-big-container .card-big-one .card-big-one-img {
        height: 9rem;
        width: 6rem;
        margin: .2rem;
        border-radius: .6rem;
    }
    
    .horizontal-card-big-container .card-big-two {
        margin: .2rem;
    }
    
    .horizontal-card-big-container .card-big-two h4 {
        font-size: 1rem;
    }
    
    .horizontal-card-big-container .card-big-two h3 {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three {
        margin-right: .4rem;
    }
    
    .horizontal-card-big-container .card-big-three ul {
        gap: .1rem;
    }
    
    .horizontal-card-big-container .card-big-three li {
        font-size: 1rem;
    }
    
    .horizontal-card-big-container .card-big-three li:nth-child(5) {
        font-size: 1.1rem;
    }
    
    .horizontal-card-big-container .card-big-three span {
        font-size: 1.1rem;
        font-weight: bold;
    } 

    .card-big-one-window {
        width: 10rem;
        height: 14rem;
    }
}


